<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item" href="/about">About</a>
    <a class="item" href="/listings">Listings</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button" href="/login">Log in</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item" href="/about">About</a>
  <a class="item" href="/listings">Listings</a>
  <a class="item" href="/login">Login</a>
</div>
