<!DOCTYPE html>
<html>

<head>

  <% include ../views/partials/head %>

</head>

<body>

<% include ../views/partials/nav %>

<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment" style="min-height: 100px;">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item" href="/about">About</a>
        <a class="item" href="/listings">Listings</a>
        <div class="right item">
          <a class="ui inverted button" href="/login">Log in</a>
        </div>
      </div>
    </div>

  </div>

  <div class="ui vertical centered stripe segment">
    <div class="ui text container">
      <h3 class="ui header">About Us</h3>

      <div class="ui vertical centered stripe segment">
        <div class="ui text container">
          <h3 class="ui header">We are a farmers' marketplace</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit felis eros, ut pretium tellus tincidunt eu. Nulla ut imperdiet arcu. Fusce risus eros, molestie non consequat eget, pharetra at orci. Duis id porta nibh. Curabitur tincidunt, urna id posuere porttitor, leo est accumsan enim, et dignissim libero nibh id lorem.</p>
          <a class="ui large button">Read More</a>

          <h4 class="ui horizontal header divider"></h4>

          <h3 class="ui header">We make it easy to sell livestock</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit felis eros, ut pretium tellus tincidunt eu. Nulla ut imperdiet arcu. Fusce risus eros, molestie non consequat eget, pharetra at orci. Duis id porta nibh. Curabitur tincidunt, urna id posuere porttitor, leo est accumsan enim, et dignissim libero nibh id lorem.</p>
          <a class="ui large button">Get Started</a>
        </div>
      </div>


    </div>
  </div>

  <% include ../views/partials/footer %>

</div>

</body>

</html>