<!DOCTYPE html>
<html>

<head>

  <% include ../views/partials/head %>

</head>

<body>

<% include ../views/partials/nav %>

<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item" href="/about">About</a>
        <a class="item" href="/listings">Listings</a>
        <div class="right item">
          <a class="ui inverted button" href="/login">Log in</a>
        </div>
      </div>
    </div>
<hr>
    <div class="ui text container">
<div class="banner">

        <img src="../img/logo.png" class="logo" ><br/>
        <img src="../img/farmconnecta.png" class="farmconnecta">

      <h2>An SMS powered Livestock Information System.</h2>
      <a class="ui huge primary button" href="/login">Get Started <i class="right arrow icon"></i></a>
      </div>
    </div>

  </div>

    <div class="ui vertical centered stripe segment">
      <div class="ui text container">
        <h3 class="ui header">About FarmConnecta</h3>
        <h2 class="text-justify text-muted">About Us</h2>
        <p class="text-justify text-muted">FarmConnect is an Agri-tech start-up founded in Botswana. The main goal of Farmconnecta is to provide livestock producers and traders with reliable and timely market information in order to make informed marketing decisions and identify appropriate markets for their livestock. Farmconecta also assists farmers locate their livestock in Matimela(Stray Livestock) kraals. <br/>

        Our platform connects farmers to a pool of livestock marketing information and matimela knowledge base system through thier mobiles SMS, USSD and web application. 
         </p>
       <a class="ui huge primary button" href="/login">Get Started <i class="right arrow icon"></i></a>
      </div>
    </div>

  
  <% include ../views/partials/footer %>

</div>

</body>

</html>