<!DOCTYPE html>
<html>

<head>

  <% include ../views/partials/head %>

</head>

<body>

<% include ../views/partials/nav %>

<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item" href="/about">About</a>
        <a class="item" href="/listings">Listings</a>
        <div class="right item">
          <a class="ui inverted button" href="/login">Log in</a>
        </div>
      </div>
    </div>
<hr>
    <div class="ui text container">
      <h1 class="ui inverted header">
        FarmConnecta
      </h1>
      <h2>An SMS powered Twitter for farmers.</h2>
      <a class="ui huge primary button" href="/login">Get Started <i class="right arrow icon"></i></a>
    </div>

  </div>

    <div class="ui vertical centered stripe segment">
      <div class="ui text container">
        <h3 class="ui header">We are a farmers' marketplace</h3>
        <p>FarmConnecta is an SMS powered twitter plaform for farmers to market their livestock to local businesses, traders and other farmers. </p>
        <a class="ui large button " href="/about">Read More</a>

        <h4 class="ui horizontal header divider"></h4>

        <h3 class="ui header">We make it easy to sell livestock</h3>
        <p>FarmConnecta allows farmers in remote areas within Botswana to send An SMS to our platform if they have livestock to market. This helps farmers market their cattle in real-time without any hustle of travelling around.</p>
        <a class="ui large button" href="/login">Get Started</a>
      </div>
    </div>

  
  <% include ../views/partials/footer %>

</div>

</body>

</html>