<!DOCTYPE html>
<html >
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>FarmConnecta</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="node_modules/semantic-iu/dist/semantic.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">

</head>

<body class="clearfix">