<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
FarmConnecta

Latest Listings

<% for(var i=0; i<listings.length; i++) {%>
<%= listings[i].message %>
<%= moment(listings[i].date).fromNow();%>
<%= listings[i].sender %>
<% } %>


</body>
</html>